{% extends 'base.html.twig' %}
{% block title %} New Invoice {% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(form) }}

        <div class="row">

            <div class="col-md-6">
                <div class="card border-secondary">
                    <div class="card-header">
                        <h6 class="my-2 center">Invoice</h6>
                    </div>

                    <div class="card-body">

                        <table id="{{ form.vars.id }}"
                               class="items table table-bordered center"
                               data-prototype="{{ include('invoice/form_prototype.html.twig',
                                   {'form': form.invoiceDetails.vars.prototype })|e('html_attr') }}">

                            <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty.</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for index, item in form.invoiceDetails %}
                                <tr id="product">

                                    {% include('invoice/form_prototype.html.twig')
                                        with {form: item, detail: invoice.invoiceDetails[index]} %}

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                        <button id="more" type="button" class="btn btn-success mb-3"><i class="fa fa-plus"></i></button>

                        {{ form_row(form.billNumber) }}
                        {{ form_row(form.billDate) }}
                        {{ form_row(form.customer) }}
                        {{ form_row(form.vat,{value: vat.value}) }}
                        {{ form_row(form.discount) }}


                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-secondary">
                    <div class="card-header">
                        <h6 class=" my-2 center">Invoice</h6>
                    </div>
                    <div class="card-body">

                        {{ form_row(form.subtotal) }}
                        {{ form_row(form.remarks) }}

                        <div class="form-group">
                            <label for="inputName">Cash</label>
                            <input id="cash" type="text" class="form-control cash">
                        </div>

                        <div class="form-group">
                            <label for="inputName">Change</label>
                            <input id="change" type="text" class="form-control">
                        </div>

                        {{ form_row(form.submit) }}

                    </div>
                </div>

            </div>

        </div>


        {{ form_end(form) }}

    </div>


{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {

            $("#invoice").on('change', '.product', (function () {

                var thisProd = $(this);
                var id = thisProd.val();

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: "{{ path('product_price') }}",
                    data: 'id=' + id,
                    success: function (data) {
                        thisProd.closest("tr").find("td.price").html(data);
                        //$('.price').text(data);
                    },

                });
            }));

        });


        $(document).ready(function () {

            $("#invoice").on('change', '.quantity', (function () {

                var thisQty = $(this);
                var qty = parseFloat(thisQty.val());

                var price = parseFloat(thisQty.closest("tr").find("td.price").html());

                thisQty.closest("tr").find("td.total").html(price * qty);
                thisQty.closest("tr").find("td.total").attr("data-val", price * qty);

                calculateSubTotal();

                $("#invoice_vat").val(vatTotal);

            }));

        });


        calculateSubTotal = function () {
            var totalSum = 0;
            var vat = parseFloat('{{ vat.value }}');

            $("#invoice .total").each(function () {
                var total = parseFloat($(this).attr("data-val"));

                totalSum += parseFloat(total + vat);

            });
            $("#invoice_subtotal").val(totalSum);
        };


        $(document).on('input', '.cash', (function () {
            var sub = document.getElementById("invoice_subtotal").value - $(this).val();
            $("#change").val(sub);

        }));

        $(document).on('change', '.discount', (function () {

            var subTotal = parseFloat(document.getElementById("invoice_subtotal").value);
            var disCountTotal = parseFloat($(this).val());
            var disCountAdd  = subTotal - disCountTotal;
            $("#invoice_subtotal").val(disCountAdd);

        }));



    </script>


    <script>

        var $collectionHolder;
        var $addItemButton = $('#more');

        function addItemForm($collectionHolder) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;

            newForm = newForm.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);
            $collectionHolder.append($('<tr></tr>').append(newForm));
        }


        {% block document_ready %}
        {{ parent() }}
        $collectionHolder = $('table.items');
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addItemButton.on('click', function (e) {
            addItemForm($collectionHolder);
        });

        if ($collectionHolder.find('tr').length == 1) {
            $addItemButton.click();
        }
        {% endblock %}

    </script>

    {#remove product item#}

    <script>
        $('table').on('click', 'input[type="button"]', function (e) {
            $(this).closest('tr').remove();
            calculateSubTotal();
        })
    </script>



{% endblock %}