{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <div id="invoice">

        <div class="toolbar hidden-print">
            <div class="text-right">
                <button id="printInvoice" class="btn btn-danger"><i class="fa fa-print"></i> Print</button>

                <a href="{{ url('pdf', {'id': invoice.id}) }}" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
            </div>
            <hr>
        </div>
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="https://lobianijs.com">
                                <img src="http://merazsohel.com/img/avatar.PNG" style="width: 100px;height: 100px;border-radius: 50%" data-holder-rendered="true" />
                            </a>
                        </div>
                        <div class="col company-details">

                        </div>
                    </div>
                </header>
                <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to">{{ invoice.customer }}</h2>
                            <div class="address">{{ invoice.customer.address }}, {{ invoice.customer.city }}</div>
                            <div class="email">{{ invoice.customer.email }}</div>
                            <div class="email">{{ invoice.customer.contact }}</div>
                        </div>
                        <div class="col invoice-details">
                            <div> <strong>Bill No:</strong> {{ invoice.billNumber }}</div>
                            <div><strong>Bill Date:</strong> {{ invoice.billDate|date("d/m/Y") }}</div>

                            <div><strong>Address: </strong>{{ address.value }}</div>
                            <div><strong>Email: </strong>{{ email.value }}</div>

                        </div>
                    </div>
                    <table class="center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-left">Product</th>
                            <th class="text-right">PRICE</th>
                            <th class="text-right">QTY</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                         {% for i,detail in invoice.invoiceDetails %}
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td class="text-left"> {{ detail.product.name }} </td>
                            <td class="unit">{{ detail.product.price }} Tk.</td>
                            <td class="qty">{{ detail.quantity }}</td>
                            <td class="total">{{ detail.product.price *  detail.quantity}} Tk.</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>

                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Vat</td>
                            <td>{{ invoice.vat }} %</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Discount</td>
                            <td>{{ invoice.discount }} Tk.</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2" >Sub Total</td>
                            <td class="bg-primary">{{ invoice.subtotal }} TK.</td>
                        </tr>
                        </tfoot>
                    </table>

                </main>
                <footer>
                    Invoice was created by Meraz & Rakib Co. Limited
                </footer>
            </div>
            <div></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#printInvoice').click(function(){
            Popup($('.invoice'));

            function Popup()
            {
                window.print();


            }
        });
    </script>
{% endblock %}
