{% extends 'home-base.html.twig' %}
{% block title %} Registration {% endblock %}
{% block body %}
<div class="container py-5" >
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Registration</h3>

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.password.first) }}
                            {{ form_row(form.password.second) }}

                            <button type="submit" class="btn btn-info">Register!</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}