{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <h3 class="mb-0 my-2"> New Category</h3>
                            </div>
                            <div class="card-body">

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                {{ form_widget(form) }}


                                <button class="btn btn-success">{{ button_label|default('Save') }}</button>

                                {{ form_end(form) }}

                                <a href="{{ path('category_index') }}" class="btn btn-info mt-3">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

