{% extends 'base.html.twig' %}

{% block title %}Settings index{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="col-md-12 mt-5">
                <a href="{{ path('settings_new') }}" class="btn btn-danger mb-3"> <i class="fa fa-plus"> New</i></a>
                <table class="table table-bordered center">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for setting in settings %}
                        <tr>
                            <td>{{ setting.id }}</td>
                            <td>{{ setting.name }}</td>
                            <td>{{ setting.value }}</td>
                            <td>{{ setting.active ? 'Yes' : 'No' }}</td>

                            <td>

                                <a href="{{ path('settings_show', {'id': setting.id}) }}" class="btn btn-info"><i
                                            class="fa fa-eye"></i></a>


                                <a href="{{ path('settings_edit', {'id': setting.id}) }}" class="btn btn-primary"><i
                                            class="fa fa-edit"></i></a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

{% endblock %}
