{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="row">
    <div class="container">
        <div class="col-md-12 mt-5">
            <a href="{{ path('product_new') }}" class="btn btn-info mb-3">Create new</a>
            <table class="table table-bordered center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }} TK.</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>
    </div>
</div>

{% endblock %}
