<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('image/sakura.png') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
    {% endblock %}

</head>
<body background="{{ asset('image/criss-cross.png') }}">
<nav class="navbar navbar-expand-lg navbar-light nav-col">

    <a class="navbar-brand" href="{{ url('app_login') }}" style="color:white">Invoice Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item">
                <a class="nav-link  btn btn-danger" href="{{ url('app_login') }}">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  btn btn-danger" href="{{ url('user_registration') }}">Registration</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  btn btn-danger" href="{{ url('forgotPassword') }}">Forgot Password</a>
            </li>

        </ul>

    </div>
</nav>

{% block body %}

    <div class="col-md-6 offset-md-3 mt-5">
        <img src="https://project-management.com/wp-content/uploads/2019/03/online-invoicing.jpg" class="img-fluid"
             alt="Responsive image">
    </div>

{% endblock %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% block javascripts %}
    <script>
        {% block document_ready %}

        {% endblock %}
    </script>
{% endblock %}

</body>
</html>
